<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Number Prediction</title>
        <link rel="stylesheet" type="text/css" href="test.css">
        <script src= "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </head>
    <body>
        <canvas id="canvas" width="300px" height="300px"></canvas><br>
        <button onclick="clearcanvas();">Clear</button><br><br>
        <button onclick="sendData();">Predict</button><br><br>
        <h1 id="num"></h1>
    </body>
    <script src="test.js"></script>
</html>